@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */

body {
  background-color: #eaf1f8 !important;
  background-image: linear-gradient(rgba(0, 0, 255, 0.04) 1px, transparent 2px),
    linear-gradient(90deg, rgba(0, 0, 255, 0.04) 1px, transparent 2px) !important;
  background-size: 40px 40px !important;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
